@font-face {
    font-family: 'arcadeclassicregular';
    src: url('font/arcadeclassic.woff2') format('woff2'),
         url('font/arcadeclassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'arcadeclassicregular', sans-serif;
    background-color: #f0f0f0;
    color: #000000;
    min-width: 1920px;
    max-height: 1080px;
    overflow: hidden;
}

.container {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    position: relative;
}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#search {
    position: fixed;
    top: 31.9%;
    left: 29.30%;
    width: 51.25vw;
    height: 5.55vh;
    border: none;
    font-family: 'arcadeclassicregular', sans-serif;
    font-size: 1.5vw;
    box-shadow: none;
    color: #464646;
}

#search::placeholder {
    color: #969595;
}

#search:focus {
    outline: none;
    box-shadow: none;
}

.qrcode {
    position: fixed;
    top: 45.4%;
    left: 17.23%;
    width: 7.5vw;
    height: 15vh;
    border: #000000 0.2vw solid;
}