@font-face {
    font-family: 'arcadeclassicregular';
    src: url('font/arcadeclassic.woff2') format('woff2'),
         url('font/arcadeclassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font-family: 'arcadeclassicregular';
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    position: relative;
}

.background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.shopkeeper-image {
    position: fixed;
    top: 52%;
    left: 44%;
    width: 13vw;
    height: auto;
    z-index: -2;
}

.search-row {
    position: fixed;
    top: 31.9%;
    left: 29.30%;
    display: flex;
    align-items: center;
    width: 51.25vw;
    height: 5.55vh;
    gap: 1vw; 
}

#searchUrl {
    position: static;
    width: 80%;
    height: 100%;
    font-family: 'arcadeclassicregular';
    font-size: 1.5vw;
    color: #464646;
    border: none;
    box-shadow: none;
}

#searchUrl::placeholder {
    color: #969595;
}

#searchUrl:focus {
    outline: none;
    box-shadow: none;
}

#qrcode {
    position: fixed;
    top: 45.4%;
    left: 17.23%;
    width: 7.5vw;
    height: 15vh;
    border: #000000 0.2vw solid;
}

#generateQrCode {
    height: 100%;
    font-size: 1.5vw;
    font-family: 'arcadeclassicregular';
    padding: 0 2vw;
    border: none;
    background: #ffffff;
    color: #000000;
    cursor: pointer;
    align-self: center;
}

#qrCodeImage {
    position: fixed;
    top: 45.4%;
    left: 17.23%;
    width: 7.5vw;
    height: 15vh;
    border: #000000 0.3vw solid;
    display: none;
}

#qrCodeImage.fade-in {
    animation: fadeInOpacity 0.5s ease-in-out;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}